tutorial?/.classpath
tutorial?/.project
tutorial?/bin/
tutorial?/build.xml
tutorial?/gen/
tutorial?/libs/
tutorial?/local.properties
tutorial?/obj/
tutorial?/proguard-project.txt
tutorial?/res/drawable-hdpi/
tutorial?/res/drawable-ldpi/
tutorial?/res/drawable-mdpi/
tutorial?/res/drawable-xhdpi/
documentation/Report.aux
documentation/Report.bbl
documentation/Report.bib.bak
documentation/Report.blg
documentation/Report.log
documentation/Report.synctex.gz
tutorial?/lint.xml
tutorial?/.externalToolBuilders/
documentation/.Report.tex.swp
